:root {
  --color-primary: #0C4076;
  --color-secondary:#ED1B2D;
  --color-tertiary: #FFDF1B;
  --color-darker: #121212;
  --color-white: theme('colors.white');
  --color-black: theme('colors.black');
  --color-positive: #95CD41;
  --color-negative: #FC4F4F;
  --color-warning: #FB923C;
  --color-info: #60A5FA;
}
