:root {
  // General
  --contrast-color: #121212;

  &.dark {
    --contrast-color: theme('colors.white');
  }


  // Collapse
  --Collapse-header-bg: theme('colors.blue.50');
  --Collapse-header-title-color: unset;
  --Collapse-dropdown-icon-color: #0C4076;

  &.dark {
    --Collapse-header-bg: theme('colors.gray.900');
    --Collapse-header-title-color: unset;
    --Collapse-dropdown-icon-color: #0C4076;
  }

  //MiniCard (InputBlock)
  --MiniCard-label-color: theme('colors.slate.400');
  --MiniCard-label-font-size: theme('font.size.md');
  --MiniCard-value-font-size: theme('font.size.md');
  --MiniCard-value-font-weight: 500;
  --MiniCard-icon-color: theme('colors.blue.500');

  &.dark {
    --MiniCard-label-color: theme('colors.slate.300');
    --MiniCard-icon-color: theme('colors.blue.700');
}

  // Table
  --Table-container-bg: theme('colors.gray.50');
  --Table-alternate-row-bg: theme('colors.white');

  &.dark {
    --Table-container-bg: theme('colors.truegray.900');
    --Table-alternate-row-bg: #121212;
  }

  // Link
  --Link-hover-color: theme('colors.blue.500');

  &.dark {
    --Link-hover-color: theme('colors.blue.700');
  }

  // Heading
  --Heading-bg: theme('colors.blue.50');

  &.dark {
    --Heading-bg: theme('colors.truegray.900');
  }

  // MainBar
  --MainBar-bg: theme('colors.blue.50');

  &.dark {
    --MainBar-bg: theme('colors.truegray.900');
  }

  // PageDrawer
  --PageDrawer-content-bg: #0C4076;
  --PageDrawer-bottom-bg: #0C4076;

  &.dark {
    --PageDrawer-content-bg: #0C4076;
    --PageDrawer-bottom-bg: #0C4076;
  }

  // Navigation
  --Navigation-bg: theme('colors.truegray.50');

  &.dark {
    --Navigation-bg: theme('colors.truegray.900');
  }
}
